html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

header { 
  display:block;
  overflow:auto;
  font-family: "Times New Roman", Times, serif;
  background: whitesmoke;
}

/* div {
  border: 5px;
  padding: 5px;

} */

body {
  margin-top:
  margin-bottom: 150px;
  background-color: whitesmoke;
}

card {
  margin: 10px;
}

h3 {
  margin: 5px;
  color: lightseagreen;
}

h2 {
padding: 10px;
color: lightseagreen;
}

img {
  float: left;
}

.img-thumbnail {
  min-width: 100px;
  max-width: 00px;
  height: auto;
}

card_title {
  padding: 0;
}

p {
  font-size: 18px;
}

.responsive {
  width: 60%;
  min-width: 100px;
  max-width: 400px;
  height: auto;
}

.a {
  background: lightseagreen;
  background-size: cover;
  border-rounded: 5%;
}

nav-item.active {
  font-size: 18px;
  padding: 5px;
  text-align: bottom;
  background: lightseagreen;
  color: whitesmoke;
}

.w {
  background: lightseagreen;
  color: whitesmoke;
}
.img-set {
  position: relative;
  height: 400px;
  background: darkgray;
}
img1 {
  /* relative positioning */
  position: relative;
  width: 150px;
  height: 150px;
  /* margin: 10; */
}
.card-img2 {
  top: 20px;
  /* left: 0; */
}
.card-img3 {
  left: 40px;
}
.card-img4 {
  right: 20px;
  bottom: 10px;
}

#boxshaded {
  border: 2px solid;
  padding: 10px;
  margin-left: 50px;
  box-shadow: 3px 4px lightseagreen;

}

@media (max-width: 576px) {
  .navbar {
    background: rgb(56, 155, 145);
  }
  /* .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  } */
